# Data Science Notebook

## Introduction

This notebook provides an overview of key tools, languages, and basic operations used in data science, indeed it has some practical exercises to prove the understanding of the topic.

## Data Science Languages

- Python  
- R  
- SQL  
- Julia  
- Java  
- Scala

## Data Science Libraries

- Pandas  
- NumPy  
- Matplotlib  
- Seaborn  
- Scikit-learn  
- TensorFlow  
- ggplot2

## Data Science Tools

| Tool              | Category            |
|-------------------|---------------------|
| Jupyter Notebook  | IDE / Notebook      |
| RStudio           | IDE                 |
| Apache Spark      | Big Data Processing |
| TensorFlow        | Machine Learning    |
| Tableau           | Data Visualization  |
| Excel             | Spreadsheet Tool    |

## Examples of Arithmetic Expressions

Below are examples of basic arithmetic operations using Python code (with a little bit of sarcasm for the way is done).

In [17]:
def add(a,b):
    return a + b
def multiply(a,b):
    i=0
    result = 0
    for i in range(0,b):
        result = add(a,result)
        i =+ 1
    return result

num_1 = 12
num_2 = 9
num_result = add(multiply(num_1,num_2), num_1)
print(num_result)

120

In [ ]:
# Convert 200 minutes to hours
minutes = 200
hours = minutes / 60
hours

## Objectives of the notebook

- Learn markdown formatting in Jupyter  
- Understand basic arithmetic expressions  
- Practice Python code in code cells  
- Explore common tools and libraries in data science  
- Convert time units using Python

Author: Paul Garcerant